* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

body {
  overflow-x: hidden;
}

.header {
  height: 50px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.start-bootstrap {
  margin-left: 40px;
}

.sign-up {
  font-size: 16px;
  font-family: Roboto, Arial;
  color: white;
  background-color: #0d6efd;
  margin-right: -70px;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
}

.first-container {
  background-color: #1C375E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.generate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.generate {
  font-family: Roboto;
  color: rgb(192, 192, 192);
  width: 420px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-bar {
  height: 40px;
  padding-left: 15px;
  padding-right: 130px;
  border: 1px solid rgb(192, 192, 192);
}

.input-section {
  margin-left: -20px;
}

.input-button {
  height: 41px;
  border: none;
  margin-left: -6px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  background-color: #0d6efd;
}

.third-section {
  height: 300px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  margin-top: 20px;
}

.accessibility-container,
.bootstrap-container,
.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folder-icon,
.square-stack,
.command-line {
  height: 70px;
  width: 70px;
}

.description-content {
  width: 300px;
  text-align: center;
  color: rgb(96, 96, 96);
  font-size: 1.25rem;
  font-weight: 300;
}

.headline-content {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 450;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  height: 600px;
}

.background-image-container {
  width: 35%;
  height: 600px;
}

.content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frd {
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: bold;
}

.content-description {
  width: 280px;
  color: #212529;
  font-size: 20px;
  margin-left: 0;
  line-height: 1.5;
}
