* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

body {
overflow-x: hidden;
}

.header {
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
}

.start-bootstrap {
  margin-left: 40px;
}

.sign-up-container {
  margin-right: 120px;
}

.sign-up {
  font-size: 16px;
  font-family: Roboto, Arial;
  color: white;
  background-color: #0d6efd;
  margin-right: 40px;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
}

.first-container {
  background-color: #1c375e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.generate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.generate {
  font-family: Roboto;
  color: rgb(192, 192, 192);
  width: 420px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.email-bar {
  height: 40px;
  padding-left: 15px;
  padding-right: 130px;
  border: 1px solid rgb(192, 192, 192);
}

.input-section {
  margin-left: -20px;
}

.input-button {
  height: 41px;
  border: none;
  margin-left: -6px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  background-color: #0d6efd;
}

.third-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.accessibility-container,
.bootstrap-container,
.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folder-icon,
.square-stack,
.command-line {
  height: 70px;
  width: 70px;
  color: #0d6efd;
}

.description-content {
  width: 300px;
  text-align: center;
  color: rgb(96, 96, 96);
  font-size: 1.25rem;
  font-weight: 300;
}

.headline-content {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 450;
}

.content-container1
 {
  display: grid;
  grid-template-columns: 700px 600px;
  height: 600px;
}

.background-image-one {
  height: 600px;
  width: 1000px;
}

.background-image-three {
  height: 600px;
  width: auto;
}

.content-container2 {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.content-container3 {
display: grid;
  grid-template-columns: 700px 600px;
  height: 600px;
}

.content-info-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-info-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frd {
  font-size: 50px;
  /* margin-bottom: 10px; */
  font-weight: bold;
}

.content-description {
  width: 275px;
  color: #212529;
  font-size: 20px;
  margin-left: 0;
  line-height: 1.5;
}

.background-image-two {
  height: 600px;
  width: 700px;
}

.testimonial-picture {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 3px solid gray;
}

.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  height: 500px;
}

.testimonial-images {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin-bottom: 60px;
}

.saying {
  margin-top: 40px;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: Roboto, Arial;
  font-weight: bold;
}

.testimonial-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Roboto, Arial;
}

.testimonial-comment {
  font-size: 20px;
  text-align: center;
  width: 360px;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getting-started-section {
  background-color: #1c375e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-bottom: 20px;
}

.ready-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.ready {
  font-family: Roboto;
  color: rgb(192, 192, 192);
  width: 420px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email-address {
  padding: 15px 10px;
  margin-right: 20px;
  border-radius: 5px;
  padding-right: 100px;
}

.email-address::placeholder {
  font-size: 20px;
}

.submit-button {
  margin-left: 2px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  padding: 15px 10px;
  color: white;
  background-color: #0d6efd;
  border-radius: 5px;
}


.header-button {
  background-color: #0d6efd;
  color: white;
}